[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==4.1.4"
djangorestframework = "==3.14.0"
django-cors-headers = "==3.13.0"
python-dotenv = "==0.21.0"

[dev-packages]

[requires]
python_version = "3.10"
